[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/rmurai0610/diff-gaussian-rasterization-w-pose.git
[submodule "submodules/diff-gaussian-rasterization-w-pose-feat"]
	path = submodules/diff-gaussian-rasterization-w-pose-feat
	url = git@github.com:RunyiYang/diff-gaussian-rasterization-w-pose-feat.git
